%ul{class: "nav navbar-nav navbar-right"}
  %li
    = link_to new_user_registration_path do
      %span{class: "glyphicon glyphicon-user"}
      Sign Up
  %li
    = link_to new_user_session_path do
      %span{class: "glyphicon glyphicon-log-in"}
      Login
 
