%ul{class: "nav navbar-nav navbar-right"}
  %li
    = link_to edit_user_registration_path do
      %span{class: "glyphicon glyphicon-user"}
      = current_user.email
  %li
    = link_to destroy_user_session_path, :method => :delete do
      %span{class: "glyphicon glyphicon-off"}
      Logout
 
